TestProject/TestWIN/Service References/BOClassWS/BOTools.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoice">
        <s:complexType />
      </s:element>
      <s:element name="GetInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceResult" type="tns:Invoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Invoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QTY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Types" type="tns:InvoiceType" />
          <s:element minOccurs="0" maxOccurs="1" name="HotelInfo" type="tns:Hotel" />
          <s:element minOccurs="0" maxOccurs="1" name="XOList" type="tns:ArrayOfXO" />
          <s:element minOccurs="0" maxOccurs="1" name="Tickets" type="tns:ArrayOfTicket" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="InvoiceType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Normal" />
          <s:enumeration value="UATP" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Hotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HotelCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfXO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XO" nillable="true" type="tns:XO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="XO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="XONum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Details" type="tns:ArrayOfXODetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfXODetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XODetail" nillable="true" type="tns:XODetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="XODetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SegNum" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ticket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TicketNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Details" type="tns:ArrayOfTicketDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTicketDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TicketDetail" nillable="true" type="tns:TicketDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TicketDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SegNum" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="BOToolsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <wsdl:input message="tns:GetInvoiceSoapIn" />
      <wsdl:output message="tns:GetInvoiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BOToolsSoap" type="tns:BOToolsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap:operation soapAction="http://tempuri.org/GetInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BOToolsSoap12" type="tns:BOToolsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap12:operation soapAction="http://tempuri.org/GetInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BOTools">
    <wsdl:port name="BOToolsSoap" binding="tns:BOToolsSoap">
      <soap:address location="http://localhost:2212/BOTools.asmx" />
    </wsdl:port>
    <wsdl:port name="BOToolsSoap12" binding="tns:BOToolsSoap12">
      <soap12:address location="http://localhost:2212/BOTools.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>